.bg--dark {
  background-color: #2C3238;
}

.bg--light {
  background-color: #f3f6f0;
}

.text--dark {
  color: #2C3238;
}

.text--light {
  color: #f3f6f0;
}

a {
  text-decoration: none;
}

.body_container--light {
  background-color: #F3F6F0;
  width: 100vw;
}

.display_block {
  display: block;
  box-sizing: content-box;
}

.width_100 {
  width: 100%;
}

.dark_bg {
  background-color: #2C3238;
}

.light_bg {
  background-color: #F3F6F0;
}

.dark_text {
  color: #2C3238;
}

.light_text {
  color: #F3F6F0;
}

.left_align {
  text-align: left;
}

.center_align {
  text-align: center;
}

.position_absolute {
  position: absolute;
}

.padding_left {
  padding-left: 6rem;
}

.bg--dark {
  background-color: #2C3238;
}

.bg--light {
  background-color: #f0f3f6;
}

.text-dark {
  color: #2C3238;
}

.text-light {
  color: #f0f3f6;
}

footer {
  background-color: #2C3238;
  padding: 5rem 0;
}

.h6-footer {
  font-family: "mySecondFont";
  font-size: 1.7rem;
  line-height: 2.7rem;
  width: 355px;
  color: #F0F0F0;
  text-decoration: none;
  text-align: left;
  padding-bottom: 2rem;
}

.p-footer {
  font-family: "mySecondFont";
  font-size: 1.5rem;
  line-height: 2.5rem;
  width: 355px;
  color: #F0F0F0;
  text-decoration: none;
  text-align: left;
}

.footer_contact_frame {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding-bottom: 1rem;
}

.footer_icn {
  padding-right: 2rem;
}

.footer_logo {
  width: 90%;
}

/*FOOTER responsive*/
@media only screen and (max-width: 992px) {
  .footer_column2,
  .footer_column3 {
    padding-left: 4rem;
    padding-top: 4rem;
  }
}
.bg--dark {
  background-color: #0E0F25;
}

.bg--light {
  background-color: #FAF5F6;
}

.dark {
  background-color: #0E0F25;
}

.light {
  color: #FAF5F6;
}

header {
  width: 100%;
}
header .nav_bootstrap {
  position: fixed;
  z-index: 1;
  background-color: #0E0F25;
  width: 100%;
  height: 6rem;
}
header .nav_bootstrap .btn_logo {
  margin-top: 0;
  padding-top: 5rem;
  margin-left: 2rem;
  position: relative;
}
header .nav_bootstrap .navbar-nav {
  padding-top: 2rem;
  width: 100%;
}
header .nav_bootstrap .navbar-nav .nav-link {
  list-style-type: none;
}
header .nav_bootstrap .navbar-nav .li--default, header .nav_bootstrap .navbar-nav .li--active {
  font-size: 1.6rem;
  line-height: 2rem;
  font-weight: 200;
  padding-right: 10rem;
  text-decoration: none;
  letter-spacing: 0.2rem;
  color: #FAF5F6;
  padding-top: 8rem;
}
header .nav_bootstrap .navbar-nav .li--default:hover, header .nav_bootstrap .navbar-nav .li--active:hover {
  background-color: #0E0F25;
  font-weight: 700;
  color: #FA0563;
}
header .nav_bootstrap .navbar-nav .li--active {
  background-color: #0E0F25;
  font-weight: 700;
}
header .nav_bootstrap .btn-burger {
  margin-top: 0;
}

/*NAV responsive*/
@media only screen and (max-width: 990px) {
  .li--default, header .nav_bootstrap .navbar-nav .li--active {
    padding-top: 2rem;
  }
  .li--active {
    padding-top: rem;
  }
}
@media screen and (max-width: 990px) {
  .btn_logo {
    padding-top: 0;
  }
  .nav_bootstrap {
    height: 10rem;
  }
  .navbar-nav {
    height: 90vh;
  }
}
/*
.btn--primary{
    background-color: #CFF80A;
    width: 200px;
    height: 60px;
    border-radius: 7px;
    border: none;
    @include flex-column-center;
    color: #0E0F25;
    font-size: 1.3rem;
    line-height: 3.3rem;
    letter-spacing: 0.1rem;
    font-weight: 400;
    &:hover{
        background-color: #0E0F25;
        border: 1px solid #CFF80A;
        color:#CFF80A;
    }
}

.btn-primary{
    background-color: #CFF80A;
    width: 200px;
    height: 60px;
    &:hover{
        background-color: #0E0F25;
        border: 1px solid #CFF80A;
    }
}

.btn--secondary{
    @extend .btn--primary;
    background-color: #FAF5F6;
    color: #0E0F25 ;
    font-size: 1.3rem;
    line-height: 3.3rem;
    letter-spacing: 0.1rem;
    font-weight: 400;
    &:hover{
        background-color: #0E0F25;
        border: 1px solid #FAF5F6;
        color:#FAF5F6;
    }
}*/
.btn_primary-default:hover {
  display: none;
}

.btn_secondary-default:hover {
  display: none;
}

.btn_primary-hover {
  display: none;
}

.btn_secondary-hover {
  display: none;
}

.btn_primary-hover:hover {
  display: inline;
}

.btn_secondary-hover:hover {
  display: inline;
}

.btn-1 .btn-2 {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

@font-face {
  font-family: "myFirstFont-regular";
  src: url("../fonts/MonumentExtended/MonumentExtended-Regular.otf");
}
@font-face {
  font-family: "myFirstFont-alt";
  src: url("../fonts/ponter/ponter-alt.ttf");
}
* {
  padding: 0;
  margin: 0;
  font-family: "myFirstFont-regular";
  background-color: #0E0F25;
}

html {
  font-size: 62.5%;
}

.bg--dark {
  background-color: #0E0F25;
}

.bg--light {
  background-color: #FAF5F6;
}

.dark {
  background-color: #0E0F25;
}

.light {
  color: #FAF5F6;
}

main .index_hero_banner {
  width: 70%;
  padding-top: 20rem;
}
main .index_hero_banner .col-left {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
main .index_hero_banner .col-left {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
main .index_hero_banner .container_buttons {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 1.6rem;
}
main .index_main_section2 {
  padding-top: 25rem;
  padding-bottom: 10rem;
  height: 100vh;
  width: 58%;
}
main .index_main_section3 .card {
  --bs-card-spacer-y: 1rem;
  --bs-card-spacer-x: 1rem;
  --bs-card-title-spacer-y: 0.5rem;
  --bs-card-title-color: ;
  --bs-card-subtitle-color: ;
  --bs-card-border-width: 1px;
  --bs-card-border-color: #f3f3f3;
  --bs-card-border-radius: 20px;
  --bs-card-box-shadow: ;
  --bs-card-inner-border-radius: calc(var(--bs-border-radius) - (var(--bs-border-width)));
  --bs-card-cap-padding-y: 0.5rem;
  --bs-card-cap-padding-x: 1rem;
  --bs-card-cap-bg: rgba(var(--bs-body-color-rgb), 0.03);
  --bs-card-cap-color: ;
  --bs-card-height: ;
  --bs-card-color: ;
  --bs-card-bg: var(--bs-body-bg);
  --bs-card-img-overlay-padding: 1rem;
  --bs-card-group-margin: 0.75rem;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  height: var(--bs-card-height);
  color: transparent;
  word-wrap: break-word;
  background-color: transparent;
  background-clip: border-box;
  border-radius: 12px;
  padding: 5rem;
}
main .index_main_section3 .index_card-img-top {
  padding: 0 3rem;
}
main .index_main_section3 .index_card-body {
  height: 20vh;
}
main .index_main_section3 .index_card-title {
  font-family: "Open Sans", sans-serif;
  font-size: 3rem;
  font-weight: 700;
  line-height: 4rem;
  letter-spacing: 0.2rem;
  text-align: left;
  color: #FAF5F6;
  padding-top: 1rem;
}
main .index_main_section3 .index_card-text {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 3rem;
  letter-spacing: 0.2rem;
  text-align: left;
  color: #FAF5F6;
  padding-top: 2rem;
}
main .index_main_section3 .index_card-tags {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 3rem;
  letter-spacing: 0.2rem;
  text-align: left;
  color: #CFF80A;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
main .index_main_section4 {
  padding-top: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .index_main_section4 .row_title {
  width: 73%;
  padding-bottom: 2rem;
}

footer {
  padding-top: 10rem;
  background-color: #0E0F25;
}

.h1_index {
  font-size: 8rem;
  font-weight: 700;
  line-height: 10rem;
  text-align: left;
  color: #FAF5F6;
  padding-bottom: 5rem;
  letter-spacing: 1rem;
}

.h1_about {
  font-size: 17rem;
  font-weight: 800;
  line-height: 18rem;
  text-align: left;
  color: rgba(250, 245, 246, 0.1333333333);
  letter-spacing: 1rem;
}

.h2_index {
  font-size: 2rem;
  font-weight: 500;
  line-height: 3rem;
  letter-spacing: 0.5rem;
  text-align: left;
  color: #FAF5F6;
  padding-bottom: 5rem;
}

.h3_index {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 2.6rem;
  letter-spacing: 0.5rem;
  text-align: left;
  color: #FAF5F6;
  padding-bottom: 5rem;
}

.h4_index {
  font-size: 4rem;
  font-weight: 700;
  line-height: 5rem;
  letter-spacing: 0.5rem;
  text-align: left;
  color: #FAF5F6;
  padding-bottom: 5rem;
}

.h5_index {
  font-size: 2rem;
  font-weight: 700;
  line-height: 3rem;
  letter-spacing: 0.5rem;
  text-align: left;
  color: #FAF5F6;
  padding-bottom: 2rem;
}

.p_index {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.6rem;
  letter-spacing: 0.5rem;
  text-align: left;
  color: #FAF5F6;
  padding-bottom: 5rem;
}

.p_footer_right {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.6rem;
  letter-spacing: 0.5rem;
  text-align: right;
  color: #FAF5F6;
  padding-bottom: 2rem;
}

.p_footer_left {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.6rem;
  letter-spacing: 0.5rem;
  text-align: left;
  color: #FAF5F6;
  padding-bottom: 2rem;
}

@media only screen and (min-width: 320px) and (max-width: 567px) {
  .h1_index {
    font-size: 6rem;
    font-weight: 700;
    line-height: 7rem;
    text-align: left;
  }
  .h2_index {
    text-align: left;
  }
  .container_buttons {
    display: flex;
    flex-direction: column;
  }
}

/*# sourceMappingURL=style.css.map */
