.bg--dark {
  background-color: #2C3238;
}

.bg--light {
  background-color: #f3f6f0;
}

.text--dark {
  color: #2C3238;
}

.text--light {
  color: #f3f6f0;
}

a {
  text-decoration: none;
}

.body_container--light {
  background-color: #F3F6F0;
  width: 100vw;
}

.display_block {
  display: block;
  box-sizing: content-box;
}

.width_100 {
  width: 100%;
}

.dark_bg {
  background-color: #2C3238;
}

.light_bg {
  background-color: #F3F6F0;
}

.dark_text {
  color: #2C3238;
}

.light_text {
  color: #F3F6F0;
}

.left_align {
  text-align: left;
}

.center_align {
  text-align: center;
}

.position_absolute {
  position: absolute;
}

.padding_left {
  padding-left: 6rem;
}

.bg--dark {
  background-color: #2C3238;
}

.bg--light {
  background-color: #f0f3f6;
}

.text-dark {
  color: #2C3238;
}

.text-light {
  color: #f0f3f6;
}

footer {
  background-color: #2C3238;
  padding: 5rem 0;
}

.h6-footer {
  font-family: "mySecondFont";
  font-size: 1.7rem;
  line-height: 2.7rem;
  width: 355px;
  color: #F0F0F0;
  text-decoration: none;
  text-align: left;
  padding-bottom: 2rem;
}

.p-footer {
  font-family: "mySecondFont";
  font-size: 1.5rem;
  line-height: 2.5rem;
  width: 355px;
  color: #F0F0F0;
  text-decoration: none;
  text-align: left;
}

.footer_contact_frame {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding-bottom: 1rem;
}

.footer_icn {
  padding-right: 2rem;
}

.footer_logo {
  width: 90%;
}

/*FOOTER responsive*/
@media only screen and (max-width: 992px) {
  .footer_column2,
  .footer_column3 {
    padding-left: 4rem;
    padding-top: 4rem;
  }
}
.bg--dark {
  background-color: #0E0F25;
}

.bg--light {
  background-color: #FAF5F6;
}

.dark {
  background-color: #0E0F25;
}

.light {
  color: #FAF5F6;
}

header {
  width: 100%;
}
header .nav_bootstrap {
  position: fixed;
  z-index: 1;
  background-color: #0E0F25;
  width: 100%;
  height: 6rem;
}
header .nav_bootstrap .btn_logo {
  margin-top: 0;
  padding-top: 5rem;
  margin-left: 2rem;
  position: relative;
}
header .nav_bootstrap .navbar-nav {
  padding-top: 2rem;
  width: 100%;
}
header .nav_bootstrap .navbar-nav .nav-link {
  list-style-type: none;
}
header .nav_bootstrap .navbar-nav .li--default, header .nav_bootstrap .navbar-nav .li--active {
  font-size: 1.6rem;
  line-height: 2rem;
  font-weight: 500;
  padding-right: 10rem;
  text-decoration: none;
  color: #FAF5F6;
  padding-top: 8rem;
}
header .nav_bootstrap .navbar-nav .li--default:hover, header .nav_bootstrap .navbar-nav .li--active:hover {
  background-color: #0E0F25;
  font-weight: 700;
  color: #FA0563;
}
header .nav_bootstrap .navbar-nav .li--active {
  background-color: #0E0F25;
  font-weight: 700;
}
header .nav_bootstrap .btn-burger {
  margin-top: 0;
}

/*NAV responsive*/
@media only screen and (max-width: 990px) {
  .li--default, header .nav_bootstrap .navbar-nav .li--active {
    padding-top: 2rem;
  }
  .li--active {
    padding-top: rem;
  }
}
@media screen and (max-width: 990px) {
  .btn_logo {
    padding-top: 0;
  }
  .nav_bootstrap {
    height: 10rem;
  }
  .navbar-nav {
    height: 90vh;
  }
}
.index_main_container {
  overflow: hidden;
  background-color: #2C3238;
}
.index_main_container .index_main_section1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20rem;
  padding-bottom: 20rem;
  background-image: url(../img/INDEX-bg-1920x1080.svg);
  height: 100vh;
}
.index_main_container .index_main_section1 .logo {
  margin-bottom: 2rem;
}
.index_main_container .index_main_section2 {
  padding-top: 5rem;
  padding-bottom: 10rem;
  background-color: #2C3238;
  height: 100vh;
}
.index_main_container .index_main_section3 {
  padding-top: 12rem;
  background-color: #f0f3f6;
}
.index_main_container .index_main_section3 .index_row_90 {
  padding: 0 5vw;
  width: 90%;
}
.index_main_container .index_main_section4 {
  width: 90%;
  padding-top: 12rem;
  padding-bottom: 12rem;
  background-color: #2C3238;
}
.index_main_container .index_main_section5 {
  padding: 12rem 0;
  background-color: #f0f3f6;
}

.h3_index {
  font-family: "myFirstFont-alt";
  font-size: 4rem;
  line-height: 5rem;
  letter-spacing: 1rem;
  padding-bottom: 2rem;
  margin-top: 5rem;
  text-align: center;
  color: #F3F6F0;
}

.h6_index {
  font-family: "mySecondFont";
  font-size: 2rem;
  line-height: 3.5rem;
  color: #F3f6f0;
  margin-bottom: 3.5rem;
  text-align: center;
}

.h2_index {
  font-family: "myFirstFont-bold";
  font-size: 10rem;
  line-height: 11rem;
  letter-spacing: 1rem;
  text-align: left;
  color: #2C3238;
  padding-bottom: 4rem;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  background-color: #0E0F25;
}

@font-face {
  font-family: "myFirstFont-bold";
  src: url("../fonts/ponter/ponter-bold.ttf");
}
@font-face {
  font-family: "myFirstFont-alt";
  src: url("../fonts/ponter/ponter-alt.ttf");
}
@font-face {
  font-family: "mySecondFont";
  src: url("../fonts/poppins/poppins-regular.ttf");
}
html {
  font-size: 62.5%;
}

.bg--dark {
  background-color: #0E0F25;
}

.bg--light {
  background-color: #FAF5F6;
}

.dark {
  background-color: #0E0F25;
}

.light {
  color: #FAF5F6;
}

main .index_hero_banner {
  padding-top: 20rem;
}
main .index_hero_banner .h1_index {
  font-family: "Open Sans", sans-serif;
  font-size: 10rem;
  font-weight: 700;
  line-height: 11rem;
  text-align: center;
  color: #FAF5F6;
  padding-bottom: 5rem;
}
main .index_hero_banner .h2_index {
  font-family: "Open Sans", sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 3.5rem;
  letter-spacing: 0.2rem;
  text-align: center;
  color: #FAF5F6;
  padding-bottom: 5rem;
}
main .index_hero_banner .container_buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
}
main .index_hero_banner .container_buttons .btn-primary, main .index_hero_banner .container_buttons .btn-secondary {
  background-color: #FA0563;
  width: 200px;
  height: 60px;
  border-radius: 7px;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #FAF5F6;
  font-size: 1.6rem;
  line-height: 5rem;
  font-weight: 500;
}
main .index_hero_banner .container_buttons .btn-primary:hover, main .index_hero_banner .container_buttons .btn-secondary:hover {
  background-color: #0E0F25;
  border: 1px solid #FA0563;
  color: #FA0563;
}
main .index_hero_banner .container_buttons .btn-secondary {
  background-color: #FAF5F6;
  color: #0E0F25;
  font-size: 1.6rem;
  line-height: 5rem;
  font-weight: 500;
}
main .index_hero_banner .container_buttons .btn-secondary:hover {
  background-color: #0E0F25;
  border: 1px solid #FAF5F6;
  color: #FAF5F6;
}
main .index_main_section2 {
  padding-top: 25rem;
  padding-bottom: 10rem;
  height: 100vh;
  width: 70vw;
}
main .index_main_section2 .col-50 .p_index {
  font-family: "Open Sans", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 3.5rem;
  letter-spacing: 0.2rem;
  text-align: left;
  color: #FAF5F6;
  padding-bottom: 5rem;
}
main .index_main_section2 .col-fw .h4_index {
  font-family: "Open Sans", sans-serif;
  font-size: 4rem;
  font-weight: 700;
  line-height: 5rem;
  letter-spacing: 0.2rem;
  text-align: left;
  color: #FAF5F6;
  padding-bottom: 5rem;
}

@media only screen and (min-width: 320px) and (max-width: 567px) {
  .h1_index {
    font-size: 6rem;
    font-weight: 700;
    line-height: 7rem;
    text-align: left;
  }
  .h2_index {
    text-align: left;
  }
  .container_buttons {
    display: flex;
    flex-direction: column;
  }
}

/*# sourceMappingURL=style.css.map */
