@use 'partials/index';
@use 'partials/header';
@use 'partials/footer';
@use 'partials/buttons';
@use 'partials/text';
@use 'partials/variables';

*{
    padding: 0;
    margin:0;
    font-family: 'Open Sans', sans-serif;
    background-color: #0E0F25;
}

@font-face {
    font-family: "myFirstFont-bold";
    src:url("../fonts/ponter/ponter-bold.ttf");
}

@font-face {
    font-family: "myFirstFont-alt";
    src:url("../fonts/ponter/ponter-alt.ttf");
}

@font-face {
    font-family: "mySecondFont";
    src:url("../fonts/poppins/poppins-regular.ttf");
}

html{
    font-size: 62.5%;
}

@mixin flex-column-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin flex-row-center{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@mixin bg--dark{
    background-color: #0E0F25;
}

@mixin bg--light{
    background-color: #FAF5F6;
}

@mixin color--dark{
    background-color: #0E0F25;
}

@mixin color--light{
    color: #FAF5F6;
}

.bg--dark{
    @include bg--dark;
}

.bg--light{
    @include bg--light;
}

.dark{
    @include color--dark;
}

.light{
    @include color--light;
}

  


main{
    .index_hero_banner{

        padding-top: 20rem;

        .h1_index{
            font-family: 'Open Sans', sans-serif;
            font-size: 8rem;
            font-weight: 700;
            line-height: 10rem;
            text-align: center;
            @include color--light;
            padding-bottom: 5rem;
        }

        .h2_index{
            font-family: 'Open Sans', sans-serif;
            font-size: 2.5rem;
            font-weight: 500;
            line-height: 3.5rem;
            letter-spacing: 0.2rem;
            text-align: center;
            @include color--light;
            padding-bottom: 5rem;
        }


        .container_buttons{
            @include flex-column-center;
            gap: 1.6rem;          
        }
    }


    .index_main_section2{
        padding-top: 25rem;
        padding-bottom: 10rem;
        height: 100vh;
        width: 70vw;

        .col-50{
            .p_index{
                font-family: 'Open Sans', sans-serif;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 3rem;
                letter-spacing: 0.2rem;
                text-align: left;
                @include color--light;
                padding-bottom: 5rem;
            }
        }

        .col-fw{
            .h4_index{
                font-family: 'Open Sans', sans-serif;
                font-size: 4rem;
                font-weight: 700;
                line-height: 5rem;
                letter-spacing: 0.2rem;
                text-align: left;
                @include color--light;
                padding-bottom: 5rem;
            }
        }  
    }

    .index_main_section3{
        .card {
            --bs-card-spacer-y: 1rem;
            --bs-card-spacer-x: 1rem;
            --bs-card-title-spacer-y: 0.5rem;
            --bs-card-title-color: ;
            --bs-card-subtitle-color: ;
            --bs-card-border-width: 1px;
            --bs-card-border-color: #f3f3f3;
            --bs-card-border-radius: 20px;
            --bs-card-box-shadow: ;
            --bs-card-inner-border-radius: calc(var(--bs-border-radius) - (var(--bs-border-width)));
            --bs-card-cap-padding-y: 0.5rem;
            --bs-card-cap-padding-x: 1rem;
            --bs-card-cap-bg: rgba(var(--bs-body-color-rgb), 0.03);
            --bs-card-cap-color: ;
            --bs-card-height: ;
            --bs-card-color: ;
            --bs-card-bg: var(--bs-body-bg);
            --bs-card-img-overlay-padding: 1rem;
            --bs-card-group-margin: 0.75rem;
            position: relative;
            display: flex;
            flex-direction: column;
            min-width: 0;
            height: var(--bs-card-height);
            color: transparent;
            word-wrap: break-word;
            background-color: transparent;
            background-clip: border-box;
            border-radius: 12px;
            padding: 5rem;
            
        }
        

            .index_card-img-top{
                padding: 0 5rem;
                
            }

            .index_card-title{
                font-family: 'Open Sans', sans-serif;
                font-size: 3.5rem;
                font-weight: 700;
                line-height: 5rem;
                letter-spacing: 0.2rem;
                text-align: left;
                @include color--light;  
            }

            .index_card-text{
                font-family: 'Open Sans', sans-serif;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 3rem;
                letter-spacing: 0.2rem;
                text-align: left;
                @include color--light;
                padding-top: 2rem;
                padding-bottom: 2rem;
                
            }

            .index_card-tags{
                font-family: 'Open Sans', sans-serif;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 3rem;
                letter-spacing: 0.2rem;
                text-align: left;
                color: aquamarine;
                padding-top: 2rem;
                padding-bottom: 2rem;
            }
        }
    }
    




@media only screen and (min-width: 320px) and (max-width: 567px) {
    .h1_index{
        font-size: 6rem;
        font-weight: 700;
        line-height: 7rem;
        text-align: left;
    }

    .h2_index{
        text-align: left;
    }
    .container_buttons{
        display: flex;
        flex-direction: column;
    }
}


    
    


        
    





