@use 'partials/index';
@use 'partials/header';
@use 'partials/footer';
@use 'partials/buttons';
@use 'partials/text';
@use 'partials/variables';

@font-face {
    font-family: "Main-regular";
    src:url("../fonts/MonumentExtended/MonumentExtended-Regular.otf");
}

@font-face {
    font-family: "Main-bold";
    src:url("../fonts/MonumentExtended/MonumentExtended-Ultrabold.otf");
}

@font-face {
    font-family: "Alt-regular";
    src:url("../fonts/Inter/static/Inter-Light.ttf");
}

*{
    padding: 0;
    margin:0;
}

html{
    font-size: 62.5%;
}

body html{
    overflow-x: hidden;
    background-color: #0E0F25;
}

@mixin flex-column-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin flex-column-start{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

@mixin flex-column-end{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

@mixin flex-row-center{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@mixin flex-row-start{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

@mixin flex-row-end{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
}

@mixin bg--dark{
    background-color: #0E0F25;
}

@mixin bg--light{
    background-color: #FAF5F6;
}

@mixin color--dark{
    background-color: #0E0F25;
}

@mixin color--light{
    color: #FAF5F6;
}

.bg--dark{
    @include bg--dark;
}

.bg--light{
    @include bg--light;
}

.dark{
    @include color--dark;
}

.light{
    @include color--light;
}


main{
    .index_hero_banner{
        padding-top: 20rem;
        @media only screen and (min-width: 991px) and (max-width: 1200px) {
        padding-bottom: 10rem;    
        }
        @media only screen and (max-width: 576px) {
        padding-top: 15rem;
        }  

        .col-left{
            @include flex-column-start;
            @media only screen and (max-width: 990px) {
                @include flex-column-center;
            } 
        }

        .col-right{
            @include flex-column-end;
            @media only screen and (max-width: 990px) {
                @include flex-column-center;
            }
            .animation{
                width: 100%;
                height: 100%;
                @media only screen and (max-width: 576px){
                    width: 120%;
                    height: 120%;
                    padding-right: 3rem;
                }
                    
            }
        }

        .container_buttons{
            @include flex-row-start;
            gap: 1.6rem; 
            @media only screen and (max-width: 990px) {
                @include flex-row-center;
            }
            @media only screen and (max-width: 576px){
                padding-bottom: 0;
            }         
        }
    }

    .index_main_section2{
        padding-top: 10rem;
        padding-bottom: 10rem;
        @media only screen and (min-width: 991px) and (max-width: 1200px) {
            padding-top: 10rem;
            padding-bottom: 5rem;    
        }
        @media only screen and (max-width: 576px){
            padding-top: 5rem;
            padding-bottom: 5rem;
        }
        
        
    }

    .index_main_section3{

        padding-bottom: 10rem;
        @media only screen and (max-width: 576px){
            padding-bottom: 5rem;
        }

        .title-work{
            padding-top: 10rem;
            padding-bottom: 10rem;
        }

        .card-work{
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: space-between;
            min-width: 0;
            word-wrap: break-word;
            background-color: transparent;
            background-clip: border-box;
            border: 1px solid #FAF5F6;
            padding: 5rem; 
            &:hover{
                background-color: #FAF5F611;
                color: #0E0F25;
            }    
            @media only screen and (max-width: 768px) {
                margin: 5rem;
            } 
            @media only screen and (max-width: 576px) {
                margin: 1rem;
                padding: 2rem; 
            } 
            }

            .index_card-body{
                height: 40vh;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: flex-start;
                @media only screen and (min-width: 991px) and (max-width: 1400px) {
                    height: 35vh;
                }  
                @media only screen and (min-width: 769px) and (max-width: 990px) {
                    height: 35vh;
                }
                @media only screen and (max-width: 769px){
                    height: 30vh;
                }
                @media only screen and (max-width: 576px){
                    height: 20vh;
                }        

            }
    
            .index_card-img-top{
                padding: 0 6rem;
                padding-bottom: 5rem;
                @media only screen and (min-width: 577px) and (max-width: 1400px) {
                    padding: 0 3rem;
                    padding-bottom: 3rem;
                }  
                @media only screen and (max-width: 576px) {
                    padding: 0;
                    padding-bottom: 2rem;
                } 
            }
        }

        .index_main_section4{
            padding-top: 10rem;
            padding-bottom: 10rem;
            @include flex-column-start;
            @media only screen and (min-width: 991px) and (max-width: 1200px) {
                padding-bottom: 5rem;    
                } 
            @media only screen and (max-width: 576px){
            padding-top: 5rem;
            padding-bottom: 5rem;
            }

            .row_title{
                padding-bottom: 2rem;
            }

            .faq_container{
                padding-top: 5rem;
                padding-bottom: 5rem;
                @media only screen and (min-width: 576px) and (max-width: 990px) {
                    gap: 10rem;
                } 
                @media only screen and (max-width: 576px) {
                    gap: 10rem;
                } 
                
             }
        }

        .index_main_section5{
            @include flex-column-center;
            padding-top: 20rem;
            padding-bottom: 25rem;
            @media only screen and (min-width: 991px) and (max-width: 1200px) {
                padding-top: 15rem;
                padding-bottom: 10rem;    
            }
            @media only screen and (max-width: 576px){
                padding-top: 10rem;
                padding-bottom: 15rem;
            } 

            .container-contact{
                padding: 5rem;
                border: 1px solid #FF4F2A;
                @media only screen and (max-width: 576px){
                    padding: 2rem;
                }
            }
        }
    
}

footer{
    padding-top: 8rem;
    @include bg--dark;
    @media only screen and (max-width: 576px){
        padding-top: 0;
    }
}

.strip{
    padding-top: 10rem;
    overflow-x: hidden;
    @media only screen and (max-width: 576px){
        padding-top: 5rem;
    }

    .svg-1920{
        @media only screen and (max-width: 991px) {
            display: none;
        } 
    }
    .svg-990{
        @media only screen and (min-width: 991px) {
            display: none;
        } 
        @media only screen and (max-width: 577px) {
            display: none;
        } 
    }
    .svg-320{
        @media only screen and (min-width: 577px) {
            display: none;
        } 
    }
}


.h1_index{
    font-family: "Main-bold";
    font-size: 10rem;
    line-height: 12rem;
    color: #FAF5F6;
    padding-bottom: 3rem;
    letter-spacing: 1.2rem;
    @media only screen and (min-width: 991px) and (max-width: 1200px) {
        font-size: 8rem;
        line-height: 10rem;
    } 
    @media only screen and (max-width: 990px) {
        text-align: center;
    } 
    @media only screen and (max-width: 576px) {
        font-size: 6rem;
        line-height: 8rem;
        letter-spacing: 0.5rem;
        padding-bottom: 5rem;
    } 
}

.h1_about{
    font-family: "Main-bold";
    font-size: 25rem;
    color: #FAF5F622;
    letter-spacing: 1rem;
    padding-top: 10rem;
    stroke-dasharray: 85 400;
    stroke-dashoffset: -220;
    transition: 1s all ease;
    @media only screen and (min-width: 991px) and (max-width: 1200px) {
        font-size: 20rem;  
    } 
    @media only screen and (min-width: 576px) and (max-width: 990px) {
        font-size: 18rem;  
    } 
    @media only screen and (max-width: 990px) {
        color: transparent;
        -webkit-text-stroke: #FF4F2A 1px;
        stroke-dasharray: 50 0;
        stroke-width: 5px;
        stroke-dashoffset: 0;
        padding-top: 5rem;
    } 
    @media only screen and (max-width: 576px) {
        font-size: 12rem;
        line-height: 14rem;
        letter-spacing: 1rem;
    } 
}

.h1_about:hover{
    color: transparent;
    -webkit-text-stroke: #FF4F2A 1px;
    stroke-dasharray: 50 0;
    stroke-width: 5px;
    stroke-dashoffset: 0;
    transition: 3s all ease;
}

.h1_work{
    font-family: "Main-bold";
    font-size: 15rem;
    color: #FAF5F622;
    letter-spacing: 1rem;
    stroke-dasharray: 85 400;
    stroke-dashoffset: -220;
    transition: 1s all ease;
    @media only screen and (min-width: 991px) and (max-width: 1200px) {
        font-size: 10rem;  
    } 
    @media only screen and (min-width: 577px) and (max-width: 990px) {
        font-size: 10rem; 
        text-align: center; 
    } 
    @media only screen and (max-width: 990px) {
        color: transparent;
        -webkit-text-stroke: #FAF5F6 1px;
        stroke-dasharray: 50 0;
        stroke-width: 5px;
        stroke-dashoffset: 0;   
    } 
    @media only screen and (max-width: 576px) {
        font-size: 10rem; 
        line-height: 12rem;
        text-align: right; 
        padding: 0 3rem;
        writing-mode: vertical-rl;
        text-orientation: sideways;
        height: 45rem;
        rotate: 180deg;
    } 
}

.h1_work:hover{
    color: transparent;
    -webkit-text-stroke: #CFF80A 1px;
    stroke-dasharray: 50 0;
    stroke-width: 5px;
    stroke-dashoffset: 0;
    transition: 3s all ease;
}


.h2_work{
    font-family: "Main-bold";
    font-size: 5rem;
    color: #FAF5F622;
    letter-spacing: 0.3rem;
    stroke-dasharray: 85 400;
    stroke-dashoffset: -220;
    transition: 1s all ease;
    @media only screen and (min-width: 991px) and (max-width: 1200px) {
        font-size: 5rem;  
    } 
    @media only screen and (min-width: 577px) and (max-width: 990px) {
        font-size: 3rem; 
        text-align: center; 
    } 
    @media only screen and (max-width: 990px) {
        color: transparent;
        -webkit-text-stroke: #FAF5F6 1px;
        stroke-dasharray: 50 0;
        stroke-width: 5px;
        stroke-dashoffset: 0;   
    } 
    @media only screen and (max-width: 576px) {
        font-size: 3rem; 
        text-align: right; 
        padding: 0 3rem;
        writing-mode: vertical-rl;
        text-orientation: sideways;
        height: 45rem;
        rotate: 180deg;
    } 
}

.h2_work:hover{
    color: transparent;
    -webkit-text-stroke: #CFF80A 1px;
    stroke-dasharray: 50 0;
    stroke-width: 5px;
    stroke-dashoffset: 0;
    transition: 3s all ease;
}

.h1_faq{
    font-family: "Main-bold";
    font-size: 15rem;
    color: #FAF5F622;
    letter-spacing: 1rem;
    padding-top: 10rem;
    padding-bottom: 10rem;
    stroke-dasharray: 85 400;
    stroke-dashoffset: -220;
    transition: 1s all ease;
    @media only screen and (min-width: 991px) and (max-width: 1200px) {
        font-size: 10rem;  
    } 

    @media only screen and (min-width: 576px) and (max-width: 990px) {
        font-size: 6rem;  
    } 

    @media only screen and (max-width: 990px) {
        color: transparent;
        -webkit-text-stroke: #FF4F2A 1px;
        stroke-dasharray: 50 0;
        stroke-width: 5px;
        stroke-dashoffset: 0;
    } 
    
    @media only screen and (max-width: 576px) {
        font-size: 8rem; 
        line-height: 10rem;
        text-align: right; 
        padding-top: 0rem;
        padding-bottom: 5rem; 
        writing-mode: vertical-rl;
        text-orientation: sideways;
        height: 80rem;
        rotate: 180deg;
    } 
}

.h1_faq:hover{
    color: transparent;
    -webkit-text-stroke: #FF4F2A 1px;
    stroke-dasharray: 50 0;
    stroke-width: 5px;
    stroke-dashoffset: 0;
    transition: 3s all ease;
}

.h2_index{
    font-family: "Main-regular";
    font-size: 2rem;
    line-height: 3rem;
    letter-spacing: 0.5rem;
    @include color--light;
    padding-bottom: 3rem;
    @media only screen and (max-width: 990px) {
        text-align: center;
    } 
}

.h3_index{
    font-family: "Alt-regular";
    font-size: 1.6rem;
    line-height: 3.2rem;
    letter-spacing: 0.5rem;
    @include color--light;
    padding-bottom: 3rem;
    @media only screen and (max-width: 990px) {
        text-align: center;
    } 
    @media only screen and (max-width: 576px) {
       display: none;
    } 
}

    .h4_index{
        font-family: "Main-regular";
        font-size: 4rem;
        line-height: 5rem;
        letter-spacing: 0.5rem;
        @include color--light;
        padding-bottom: 5rem;
    }

    .h5_index{
        font-family: "Main-regular";
        font-size: 2rem;
        line-height: 3rem;
        letter-spacing: 0.5rem;
        @include color--light;
        padding-bottom: 2rem;
        padding-top: 2rem;
    }

    .h6_index{
        font-family: "Alt-regular";
        font-size: 1.6rem;
        line-height: 5rem;
        letter-spacing: 0.3rem;
        @include color--light;
    }

    .p_index{
        font-family: "Alt-regular";
        font-size: 1.4rem;
        line-height: 3rem;
        letter-spacing: 0.2rem;
        @include color--light;
        padding-bottom: 2rem;
        padding-top: 2rem;
    }

    .p_about{
        font-family: "Alt-regular";
        font-size: 1.4rem;
        line-height: 3rem;
        letter-spacing: 0.2rem;
        @include color--light;
        padding-bottom: 4rem;
        padding-top: 2rem;
    }

    .p_faq{
        font-family: "Alt-regular";
        font-size: 1.4rem;
        line-height: 3rem;
        letter-spacing: 0.2rem;
        @include color--light;
        padding-top: 2rem;
    }

    .col-text{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
    }

    .p_footer_right{
        font-family: "Alt-regular";
        font-size: 1.4rem;
        line-height: 3rem;
        letter-spacing: 0.2rem;
        text-align: right;
        @include color--light;
        padding-bottom: 2rem;
        @media only screen and (max-width: 990px) {
            text-align: center;
        } 
    }

    .p_footer_left{
        @extend .p_footer_right;
        text-align: left;
        @include color--light;
        padding-bottom: 2rem;
        @media only screen and (max-width: 990px) {
            text-align: center;
        } 
    }

    .index_card-title{
        font-family: "Main-regular";
        font-size: 3rem;
        line-height: 4rem;
        letter-spacing: 0.2rem;
        @include color--light;  
        padding-bottom: 1rem;
        @media only screen and (min-width: 991px) and (max-width: 1400px) {
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 3rem;
            letter-spacing: 0.2rem;
        }
        @media only screen and (max-width: 576px) {
            display: none;
        } 
        
    }

    .index_card-text{
        font-family: "Alt-regular";
        font-size: 1.4rem;
        line-height: 3rem;
        letter-spacing: 0.2rem;
        @include color--light;
        padding-bottom: 2rem;
        @media only screen and (max-width: 576px) {
            line-height: 2.4rem;
            letter-spacing: 0.2rem;
            padding-bottom: 0;
        }     
    }

    .index_card-tags{
        font-family: "Alt-regular";
        font-size: 1.4rem;
        line-height: 3rem;
        letter-spacing: 0.2rem;
        color: #CFF80A;
        @media only screen and (max-width: 576px) {
            display: none;
        }
    }


 
.hero{
    padding-top: 8rem;
    @media only screen and (min-width: 577px) and (max-width: 1200px){
        padding-top: 10rem;
        width: 150%;
    }
    @media only screen and (max-width: 576px) {
        padding-top: 10rem;
        width: 200%;
        margin-left: -8rem;
    } 
}


.h1_project{
    font-family: "Main-bold";
    font-size: 8rem;
    line-height: 12rem;
    color: #FAF5F6;
    padding-bottom: 3rem;
    letter-spacing: 0.6rem;
    @media only screen and (min-width: 769px) and (max-width: 1200px) {
        font-size: 6rem;
        line-height: 8rem;
    } 
    @media only screen and (min-width: 577px) and (max-width: 768px) {
        font-size: 4rem;
        line-height: 6rem;
    } 
    @media only screen and (max-width: 576px) {
        font-size: 2rem;
        line-height: 4rem;
        letter-spacing: 0.4rem;
    } 
}


.h2_project{
    font-family: "Main-regular";
    font-size: 2rem;
    letter-spacing: 0.5rem;
    @include color--light;
    @media only screen and (max-width: 990px) {
        font-size: 1.2rem;
        line-height: 2.2rem;
    } 
}

.h3_project{
    font-family: "Main-bold";
    font-size: 5rem;
    line-height: 6rem;
    color: #FAF5F6;
    letter-spacing: 0.6rem;

    @media only screen and (min-width: 991px) and (max-width: 1200px) {
        font-size: 8rem;
        line-height: 10rem;
    } 
    @media only screen and (max-width: 576px) {
            font-size: 3rem;
            line-height: 4rem;
            letter-spacing: 0.4rem;
    } 
}

.h4_project{
    font-family: "Main-regular";
    font-size: 1.6rem;
    letter-spacing: 0.3rem;
    @include color--light;
    @media only screen and (max-width: 990px) {  
    } 
}

.h5_project{
    font-family: "Main-regular";
    font-size: 2rem;
    line-height: 3rem;
    color: #FAF5F6;
    padding-bottom: 1rem;
    letter-spacing: 0.3rem;
    @media only screen and (min-width: 991px) and (max-width: 1200px) {
        font-size: 1.6rem;
        line-height: 2.6rem;
    } 
    @media only screen and (max-width: 990px) {
        font-size: 1.4rem;
        line-height: 2.4rem;
        letter-spacing: 0.2rem;
    } 
    @media only screen and (max-width: 576px) {
       
    } 
}

.h5_btn{
    font-family: "Main-regular";
    font-size: 2rem;
    line-height: 3rem;
    color: #FAF5F6;
    padding-bottom: 1rem;
    letter-spacing: 0.3rem;
    @media only screen and (min-width: 991px) and (max-width: 1200px) {
        font-size: 1.6rem;
        line-height: 2.6rem;
    } 
    @media only screen and (max-width: 990px) {
        font-size: 1.2rem;
        line-height: 2.2rem;
    } 
    @media only screen and (max-width: 576px) {
       
    } 
}

.p_project{
    font-family: "Alt-regular";
    font-size: 1.6rem;
    line-height: 3.2rem;
    letter-spacing: 0.2rem;
    @include color--light;
    padding-bottom: 3rem;
}

.li_project{
    font-family: "Alt-regular";
    font-size: 1.6rem;
    line-height: 3.2rem;
    letter-spacing: 0.2rem;
    @include color--light;
    
}

.text-green{
    color: #CFF80A;
}

.inline{
    display: inline;
    padding-right: 1rem;
}

.section-padding{
    padding: 10rem 0;
    @media only screen and (max-width: 1200px) {
        padding: 5rem 0; 
    } 
}

.container_space-between{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
}

.newspapers_box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.newspapers_box_box{
    border: 1px solid #FAF5F6;
    margin: 3rem;
    padding: 3rem;
    @media only screen and (max-width: 576px) {
        @include flex-column-center;
        margin: 0;
        padding: 2rem;
        padding-bottom: 2rem;
        margin-bottom: 2rem;
} 
}

.container_icons_sections{
    @include flex-column-start;
    @media only screen and (max-width: 576px) {
        @include flex-column-center;
} 
}

.container_icons{
   @include flex-row-start;
   @media only screen and (max-width: 990px) {
    margin-bottom: 2rem;
  } 
  
}

.icn_sections{
    margin-right: 1rem;
    width: 140px;
    height: 140px;  
    @media only screen and (min-width: 991px) and (max-width: 1200px) {
        width: 110px;
        height: 110px; 
    } 
    @media only screen and (min-width: 577px) and (max-width: 990px) {
        width: 90px;
        height: 90px; 
    } 
    @media only screen and (max-width: 576px) {
        width: 150px;
        height: 150px; 
    }    
}


.row-space-around{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.article_padding{
    padding: 5rem 0;
}

.small-padding{
    padding: 5rem 0;
}

.mid-padding{
    padding: 10rem 0;
}

.big-padding{
    padding: 20rem 0;
    @media only screen and (min-width: 991px) and (max-width: 1200px) {
        padding: 10rem 0;
    } 
}
    
    
.container_strip{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    @media only screen and (max-width: 576px) {
        display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    } 
}

.container_justify-center{
    @include flex-column-center;
}


.container_row_align-center{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: end;
}

.rectangle{
    border: 1px solid #FAF5F6;
    padding: 3rem;
    margin-bottom: 2rem;
}


.mobile_padding-botton{
    @media only screen and (max-width: 576px) {
        width: 33%;
        padding-bottom: 2rem;
    } 
}


.animation{
    width: 30%;
    margin: auto;

}