@import 'variables';


@mixin bg--dark{
    background-color: #0E0F25;
}

@mixin bg--light{
    background-color: #FAF5F6;
}

@mixin color--dark{
    background-color: #0E0F25;
}

@mixin color--light{
    color: #FAF5F6;
}

.bg--dark{
    @include bg--dark;
}

.bg--light{
    @include bg--light;
}

.dark{
    @include color--dark;
}

.light{
    @include color--light;
}

header{
    width: $full-width;

    .nav_bootstrap{
        position: fixed;
        z-index: 1;
        @include bg--dark;
        width: $full-width;
        height: 6rem;

        .btn_logo{
            margin-top: 0;
            padding-top: 5rem;
            margin-left: 2rem;
            position: relative;
        }

        .navbar-nav{
            padding-top: 2rem;
            width: $full-width;
            

            .nav-link{
                list-style-type: none;  
            }

            .li--default{ 
                font-size: 1.6rem;
                line-height: 2rem;
                font-weight: 200;
                padding-right: 10rem;
                text-decoration: none;
                letter-spacing: 0.2rem;
                @include color--light;
                padding-top: 8rem;
                &:hover{ 
                    @include color--dark;
                    font-weight: 700;
                    color:#FA0563;
                }
            }
            
            .li--active{ 
                @extend .li--default;
                @include color--dark;
                font-weight: 700;
            }
        }

        .btn-burger{
            margin-top: 0;
        }
    }
}


/*NAV responsive*/ 

@media only screen and (max-width: 990px) {
    .li--default{ 
        padding-top: 2rem;
    }
    
    .li--active{ 
        padding-top: rem;
    }
}

@media screen and (max-width: 990px) {
    .btn_logo{
        padding-top: 0;
    }

    .nav_bootstrap{
        height: 10rem;
    }

    .navbar-nav{
        height: 90vh;
    }
}
