@use 'general';
@use 'footer';
@use 'header';
@import 'variables';

@mixin bg-dark{
    background-color: #2C3238;
}

@mixin bg-light{
    background-color: #f0f3f6;
}

@mixin flex-column-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
